<div>
    <%= link_to "Posts", posts_path, class:"btn btn-primary btn-lg" , role:"button" %>
    <%= link_to "Mining types", mining_types_path, class:"btn btn-primary btn-lg" , role:"button" %>
    <%= link_to "Hunters", hunters_path, class:"btn btn-primary btn-lg" , role:"button" %>
</div>
<br>