<ul> 
<p>Current aplication language <strong><%= locale(I18n.locale) %></strong></p>
    <li> 
    <%= link_to "Posts", posts_path %>
    </li>
    <li> 
    <%= link_to "Mining types", mining_types_path %>
    </li>
</ul>