<div class="jumbotron">
  <h1 class="display-4"> Seja bem vindo hunter!!</h1>
  <p class="lead">Este é um site de Posts para hunters, por favor crie seu post ou cadastr-se como um Hunter</p>
  <hr class="my-4">
  <p>Informe qual cadastro deseja localizar ou criar.</p>
  <%= render "menu" %>
</div>

