<td><%= hunter.name %></td>
<td><%= image_tag(hunter.image || "https://www.ofertadia.com.br/wp-content/themes/deals/images/store-default.png", width:100, height: 100) %></td>
<td><%= image_tag(hunter.gun || "https://www.ofertadia.com.br/wp-content/themes/deals/images/store-default.png", width:100, height: 100) %></td>